<!DOCTYPE html>
<html>
<head>
	<title>Get Paid To Write!</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32832592-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

	<nav>
		<div class="container">
			<%= image_tag "/logo.png", :id => "logo" %>
			<% if admin_signed_in? %>
				<ul>
					<li>
						<%= link_to 'Contacts', contacts_path %>
					</li>
					<li>
						<%= link_to 'New Contact', new_contact_path %>
					</li>
					<li>
						<%= link_to "Log out", destroy_admin_session_path, method: :delete %>
					</li>
				</ul>
			<% end %>
		</div>
	</nav>

	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>

</body>
</html>
